@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    // background-color: rgb(231,230,201);
    // background-color: rgb(249,236,222);
        font-family: "Montserrat", sans-serif;

}

.navbar-wrapper {
    z-index: 1000;
    // position: fixed;
    // background: transparent;
    // backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
   // border-bottom: 1px solid rgb(232, 229, 229);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: #31302C;
    
    @media (max-width: 768px) {
        //margin-left: -20px;
        position: relative;
  display: flex;
  justify-content:space-between;
  background-color: #31302C;
  
  
       
        //height: 100%;
    }

    .l{
        color: white;
    }

  

    .left {
        display: flex;
       
    
        gap: 20px;
    }

    h4 {
        cursor: pointer;
    }

    .logo {

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 55px;
            height: 40px;
            margin-left: 120px;
@media(max-width:768px){
    margin-left: 50px;
}

            

        }
    }

    .categories {
        position: relative;
    }

    .dropdown, .dropdown2 {
        position: absolute;
        top: 80%;
        left: 0;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        min-width: 170px;
       
    
       

        @media(max-width:1000px){
            width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
        }
    }
    .dropdown, .dropdown2 li {
        list-style-type: none;
     //   background-color: rgb(253, 152, 80);
     background-color: lightgrey;
padding-left: 15px;
     


@media(max-width:1500px){
    font-size: 12px;
    }
       
    }

    .nested-list {
        margin-top: 0px;
        padding-left: 25px;
        padding-right: 5px;
        list-style-type: none; // Remove default list styles

        .nes{
            display: flex;
           // justify-content: center;
           // align-items: center;
            

           
            // height: 45px;

            a{
                background-color: #080808;
                background-color: #31302C;
                width: 200px;
                color:white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
      }
      
      .nested-list li {
        margin-bottom: 5px;
        //background-color: rgb(250, 79, 79);
        text-align: center;
        cursor: pointer;
        padding: px; // Add padding for better spacing
        transition: color 0.3s ease;
font-size: 16px;
font-weight: bold;
   

@media(max-width:1500px){
    font-size: 12px;
  
    }

    
      }
      

    .nested-list {
        margin-top: 0px;
        padding-left: 25px;
       
        
 
    }

    .albania, .germany, .uk{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-right: 5px;
    }

    .ecatalog{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
    }

    

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;


        li{
            list-style-type: none;
            :hover{
                // color:#A7541E;
                color: rgba(240,124,1,255);

                //  border-radius: 5px;
                
              }
            &.active-link {
                list-style-type: none;
                text-decoration: none;
                font-size: 16px;
                height: 35px;
                display: flex;
                padding-left: 5px;
                padding-right: 5px;
                justify-content: center;
                align-items: center;
                width: auto;
                cursor: pointer;
                border-radius: 5px;
                font-weight: bold;
                color:#A7541E; // Example: Change text color to orange
                color: rgba(240,124,1,255);


                @media(max-width:1500px){
              font-size: 12px;
              width: 100%;
                }
              }
             

        }
         
        li:hover {
            color:#A7541E;
            color: rgba(240,124,1,255);




        }
        .link{
            list-style-type: none;
            text-decoration: none;
            font-size: 16px;
            height: 35px;
            display: flex;
            padding-left: 5px;
            padding-right: 5px;
            justify-content: center;
            align-items: center;
            width: auto;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;

            @media(max-width:1500px){
            font-size: 12px;
           // width: 100%;
            }
            &.active-link {
                // Styles for active link...
                font-size: 16px;
                
            @media(max-width:1500px){
                font-size: 12px;
                width: 100%;
                }
                color:#D33903; // Example: Change text color to orange

                
            @media(max-width:1500px){
                font-size: 12px;
                width: 100%;
                }
                :hover{
                    color: #D33903;
                    //  border-radius: 5px;
                     
                  }
              }

               
     
              :hover{
                color: #D33903;
                //  border-radius: 5px;
              }
        }


       
        a,
        h4 {
            text-decoration: none;
            font-size: 16px;
            height: 45px;
           // text-align: center;
            // background-color: aqua;
            display: flex;
            padding-left: 5px;
            padding-right: 5px;
            justify-content: center;
            align-items: center;
            width: auto;
            color: black;
            font-weight: bold;

            
            @media(max-width:1500px){
                font-size: 12px;
                }
        }


        h4:hover {
            color: #D33903;
            border-radius: 5px;



        }

    }

    .language {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;


    }
    .right{
        position: absolute;
    z-index: 2;
    right: 20px;
    top: 3px;
    cursor: pointer;
    color:#A7541E;
    color: rgba(240,124,1,255);

    order: 3;
  display: none;
  
    svg {
        width: 30px;
        height: 30px;

    }

    @media (max-width: 1000px) {

        display: block;
        margin-right: 30px;

    }

    }
    .btn-menu{
    position: absolute;
    z-index:2000;
    right: 20px;
    top: 3px;
    cursor: pointer;
    color:#D33903;
    order: 3;
  display: none;
  width: 100%;
  height: 100vh;


//   .language{
//     z-index: 100;
//     opacity: 1;
//   }
  
    svg {
        width: 30px;
        height: 30px;

    }

    @media (max-width: 1000px) {

        display: block;
        margin-right: 30px;

    }

   
}


@media (max-width: 1000px) {

    .links{
        opacity: 0;
        transition: all 0.7s ease-in-out;
        z-index: -1;
        position: fixed;
        top: 0;
        left: -100vw;
        background-color: #FFF;
        height: 100vh;
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      //  background-color: lightgrey;
      border: 2px solid blue;
      display: flex;
      gap: 35px;
      justify-content: center;
      align-items: center;



      h4{
        width: 100%;
        height: 50px;
       

      }

        li  {
           // border: 1px solid red;
            display: flex;
            font-size: 24px;
            font-weight: bolder;
            margin-top: 8px;
            margin-bottom: 8px;
            flex-direction: column;

            @media(max-width:1200px){
                font-size: 20px;
            }
           // background-color: red;
           // padding: 0px 30px;
        }



    }

}
@media(max-width:1000px){
    .header-menu {
        width: 100%;
        opacity: 1;
        z-index: 100;
        left: 0;
        padding: 0;
        height: 100%;
        background-color: #31302C;

        a{
            width: 100%;
            margin: 0;
            padding: 0;

        }
     

    }
}

}

 .c{
        display: flex;
        justify-content: center;
        align-items: center;

        .s{
            cursor: pointer;
          
        }
    }

    .language{
        cursor: pointer;
       // margin-left: 100px;
       gap: 5px;
       margin-left: 10px;

       .lang{
        color: white;

        :hover{
            color: #A7541E;
            color: rgba(240,124,1,255);

        }
       }

       
    }
  
    .navlang {
        position: absolute;
        top: 50;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        //z-index: 1000;
        padding-right: 50px;
        color: white;

        @media (max-width: 1000px) {

           position: relative;
    padding: 0;
        }
    }
  