

.img-project-container{

  
    
}
.cards {
    display: flex;
    padding-left: 120px;
    gap: 100px;
    padding-top: 120px;
  }
  
  .cards-2 {
    display: flex;
    padding-left: 120px;
    gap: 100px;
    padding-top: 120px;
  }
  
  .pimg {
    width: 350px;
   
    transition: transform 0.5s ease; 
  }
  
  .pimg:hover {
    transform: scale(1.1); 
  
  }
  
  .project-title {
    font-size: 24px;
    padding-top: 10px;
    color: white;
  }

  .img-project-container {
    position: relative;
    overflow: hidden;
  }
  
  .img-project-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .img-project-container:hover::before {
    opacity: 2;
    cursor: pointer;
  }
  