*{
    margin: 0;
    padding: 0;

}
.contact-header{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 120px;
       
    }
    p{
        padding-top: 10px;
    }
}