*{
    margin: 0;
    padding: 0;

}

.contact-wrapper{
    width: 100%;
    

}
.contact-header{

    padding-top: 120px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        //margin-top: 120px;
        color: white;
       
    }
    p{
        padding-top: 10px;
        
    }
    
 
 
}


.boxes-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 50px;
    color: white;
}
.box-contact-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 335px;
    height: 234px;
   border:3px solid #9d9d9d;
   border-radius: 5%;
}

.location-section{
    div{
        margin-top: 120px;
        margin-left: 120px;
    }
    p{
        padding-top: 10px;
        color: #D9D9D9;
    }
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    border: 0;
    height: 80%;
    width: 80%;
    position: absolute;
}

.contact-h-p{
    color: #9d9d9d;
}


@media only screen and (max-width: 767px) {
    .contact-header div {
      margin-top: 50px; 
    }
    
    .boxes-contact {
      flex-direction: column; 
      margin-top: 50px; 
      gap: 20px; 
    }
    
    .box-contact-1 {
      width: 80%; 
      max-width: 335px;
      height: auto; 
    }
  
    .ic {
      width: 20px; 
      height: 20px; 
    }
  }
  