*{
    margin: 0;
    padding: 0;
}

  


  .projects-wrapper {
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 120px;



    .office {
        margin-top: 80px;

    }


    .projects-text {
    //    padding-left: 50px;
        margin-top: 50px;
        margin-bottom: 120px;
        color: white;
       // text-align: center;
       // text-transform: uppercase;
        font-size: 20px;

        h1{
            b{
                color:#A7541E;
            }
        }

        
        @media(max-width:1500px){
          font-size: 15px;
          margin-top: 20px;
          margin-bottom: 60px;
         }

        @media(max-width:2000px) {
            padding: 0;
           // text-align: center;
                  padding-left: 70px;

           }

    }

    .projects-images {
        padding-left: 150px;
        display: flex;
        gap: 63px;
    //    width: 100%;

        @media(max-width:2000px) {
          // flex-direction: column;
          flex-wrap: wrap;
           align-items: center;
           justify-content: center;
           padding: 0;
          }

        .images {

           
            display: flex;
         //   flex-direction: column;
            gap: 63px;

            @media(max-width:2000px) {
                // flex-direction: column;
                flex-wrap: wrap;
                 align-items: center;
                 justify-content: center;
                 padding: 0;
                }

            h4{
                color: white;
                margin-top: 20px;
                font-size: 15px;
               // text-align: center;
               // text-transform:uppercase;
            }

            img{
                background-size: contain;
                border-radius: 10px;

               &:hover {
                            transform: scale(1.05);
                            transition: 0.2s ease-in-out;
                          }
              
            }
          


           
         
         
        }



        img {
            width: 420px;
            height: 350px;
            cursor: pointer;
            
                background-size:auto;

                @media(max-width:1500px){
                    width: 170px;
                    height: 250px;
                 }
             
              
        }
    }
}


