*{
    margin: 0;
    padding: 0;
}
.ideas-header{
    margin-left: 120px;
    margin-top: 100px;
}
.nav-sec{
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 100px;
  margin-top: 120px;
  text-decoration: none;
  list-style-type: none;
}
.nav-link{
    font-size: 24px;
    text-decoration: none;
    
}
.nav-link a{
   color: black;
    text-decoration: none;
}

.living-room{
    margin-top: 120px;
}

.img-container{
  margin-top: 30px;
    gap: 50px;
}
.living-h2{
   margin-left: 120px;
   font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .nav-sec {
      flex-direction: column; /* Display items in a column */
      align-items: center; /* Align items to the start of the column */
      gap: 20px; /* Reduce the gap between items */
      margin-top: 20px;
      margin-left: 50px; /* Adjust margin for smaller screens */
    }
    .ideas-header{
margin-left: 50px;
    }
    .img-container {
        display: flex;
        flex-direction: column; /* Display images in a column */
        align-items: center; /* Center images horizontally */
        margin-top: 20px; /* Adjust margin for smaller screens */
        gap: 20px; /* Reduce the gap between images for smaller screens */
      }
      .living-room{
        margin-left: 50px;
      }
  }