*{
    margin: 0;
    padding: 0;
}

.living-room{
    margin-top: 120px;
}
.img-container{
  margin-top: 50px;
}
.title{
    margin-left: 120px;
}
.button-idea{
    width: 185px;
    height: 49px;
    background-color: white;
    color: black;
    border-color: #D33903;
    border-radius: 10px;
    cursor: pointer;
    
}
.button-idea:hover{
    background-color: #D33903;
}
.button-container{
    margin-left: 120px;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  
}